@{
  Layout = "_Layout";
}

<h1>Add a cuisine</h1>
<p>Add a cuisine here:</p>

<form action="/cuisine" method="post">
  <label for="cuisineName">Cuisine name</label>
  <input id="cuisineName" name="cuisineName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/cauisine">Back to cuisine.</a></p>