@{
  Layout = "_Layout";
}

@using RestarauntsByCuisine.Models;

<h3>Here are all the restaraunts in this cuisine:</h3>

<ol>
@foreach (Restaraunt restaraunt in @Model["restaraunts"])
{
  <li><a href='/cuisines/@Model["cuisine"].Id/restaraunts/@restaraunt.Id'>@restaraunt.Description</a></li>
}
</ol>

<p><a href='/cuisine/@Model["cuisine"].Id/restaraunts/new'>Add a new restaraunt</a></p>
<p><a href='/cuisines'>Return to cuisine list</a></p>
<p><a href='/'>Return to Main Page</a></p>