@{
  Layout = "_Layout";
}

<h1>Add a new restaurant to @Model.Name</h1>

<form action="/cuisines/@Model.Id/restaurants" method="post">
  <input id="cuisineId" name="cuisineId" type="hidden" value="@Model.Id">
  <label for="restaurantDescription">Restaurant Description</label>
  <input id="restaurantDescription" name="restaurantDescription" type="text">
  <button type='submit'>Add Restaurant</button>
</form>