@{
  Layout = "_Layout";
}

<h1>To Do List Restaurant Details: </h1>

<h2>@Model["restaurant"].Description</h2>
<h3>Cuisine: @Model["cuisine"].Name</h3>

<a href='/categories/@Model["cuisine"].Id/restaurants/new'>Add another restaurant</a>
<a href='/categories'>View all categories</a>